@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

.geo-background {
  position: relative;
}

.geo-background::before{
  content: '';
  position: fixed;
  z-index: -1;
  pointer-events: none;
  background-image: url(./assets/geometric.svg);
  bottom: 0;
  right: -20px;
  width: 551px;
  height: 748px;
}

.geo-background::after{
  content: '';
  position: absolute;
  z-index: -1;
  pointer-events: none;
  background-image: url(./assets/geometric.svg);
  -webkit-transform: scaleX(-1) scaleY(-1);
  transform: scaleX(-1) scaleY(-1);
  top: 0;
  left: -20px;
  width: 551px;
  height: 748px;
}

@media (max-width: 900px) and (max-height: 900px) {
  .geo-background::before{
    width: 275px;
    height: 374px;
  }

  .geo-background::after{
    width: 275px;
    height: 374px;
  }
}

@media (max-width: 600px) and (max-height: 600px) {
  .geo-background::before{
    display: none;
  }

  .geo-background::after{
    display: none;
  }
}

@layer components {
  .btn-blue {
    @apply mt-5 px-4 py-2 text-sm font-medium leading-5 shadow text-white transition-colors duration-150 border rounded-lg focus:outline-none bg-blue-500 hover:bg-opacity-80
  }
  .centered-container {
    @apply flex flex-col content-center justify-center items-center h-full
  }
}
