@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

.geo-background {
  position: relative;
}

.geo-background::before {
  content: '';
  position: fixed;
  z-index: -1;
  pointer-events: none;
  background-image: url(./assets/geometric.svg);
  bottom: 0;
  right: -20px;
  width: 551px;
  height: 748px;
}

.geo-background::after {
  content: '';
  position: absolute;
  z-index: -1;
  pointer-events: none;
  background-image: url(./assets/geometric.svg);
  -webkit-transform: scaleX(-1) scaleY(-1);
  transform: scaleX(-1) scaleY(-1);
  top: 0;
  left: -20px;
  width: 551px;
  height: 748px;
}

@media (max-width: 900px) and (max-height: 900px) {
  .geo-background::before {
    width: 275px;
    height: 374px;
  }

  .geo-background::after {
    width: 275px;
    height: 374px;
  }
}

@media (max-width: 600px) and (max-height: 600px) {
  .geo-background::before {
    display: none;
  }

  .geo-background::after {
    display: none;
  }
}

@layer components {
  .btn-base {
    @apply text-center px-4 py-2 text-sm font-medium transition-colors ease-in duration-150 rounded-xl focus:outline-none
  }

  .icon-btn {
    @apply btn-base inline-flex items-center
  }

  .card-base {
    @apply rounded-2xl shadow-md p-5
  }

  .grid-container {
    @apply grid gap-5 justify-center
  }

  .centered-container {
    @apply flex flex-col content-center justify-center items-center h-full
  }
}
