@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb{
  background: #B3AFB3;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
  background: #B3AFB3;
}
::-webkit-scrollbar-track{
  background: #F0F0F0;
  border-radius: 6px;
  box-shadow: inset 0 0 0 0 #F0F0F0;
}

.geo-background {
  position: relative;
}

.geo-background::before {
  content: '';
  position: fixed;
  z-index: 1;
  pointer-events: none;
  background-image: url(./assets/geometric.svg);
  bottom: 0;
  right: -20px;
  width: 551px;
  height: 748px;
}

.geo-background::after {
  content: '';
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-image: url(./assets/geometric.svg);
  -webkit-transform: scaleX(-1) scaleY(-1);
  transform: scaleX(-1) scaleY(-1);
  top: 0;
  left: -20px;
  width: 551px;
  height: 748px;
}

 .menu.compact li>button, .menu.compact li>span {
   font-size: .875rem;
   line-height: 1.25rem;
   padding-top: .5rem;
   padding-bottom: .5rem
 }

 .menu li>button.active {
   --tw-bg-opacity: 1;
   background-color: hsla(var(--p)/var(--tw-bg-opacity,1));
   --tw-text-opacity: 1;
   color: hsla(var(--pc)/var(--tw-text-opacity,1));
 }


 .menu[class*=p-] li button {
   border-radius: var(--rounded-btn,.5rem);
 }

 .menu li>button, .menu li>span {
   padding: .75rem 1.25rem;
   color: currentColor;
 }

 .menu :where(li)>button {
   cursor: pointer;
 }

 .menu :where(li)>button, .menu :where(li)>span {
   display: flex;
   align-items: center;
   transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
   transition-duration: .15s;
   transition-timing-function: cubic-bezier(.4,0,.2,1);
 }

.menu li>button:hover {
  --tw-bg-opacity: .1;
  background-color: hsla(var(--bc)/var(--tw-bg-opacity,1));
}

.menu li>button.active:hover {
  --tw-bg-opacity: .7;
  background-color: hsla(var(--p)/var(--tw-bg-opacity,1));
}

.divider:after, .divider:before {
  background-color: hsla(var(--b3)/var(--tw-bg-opacity,1));
}

.divider-sm:after, .divider-sm:before {
  height: .05rem;
}

/*
:is(.btn, .btn-neutral):not(.btn-lg, .btn-sm, .btn-xs, .btn-circle) {
  height: 2.5rem;
  min-height: 2.5rem;
}
 */

.btn-neutral {
  --tw-border-opacity: 1;
  border-color: hsla(var(--b3) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: hsla(var(--b1) / var(--tw-bg-opacity));
}

.checkbox-group label {
  padding: .25rem .25rem;
}

.checkbox-group-vertical label {
  padding: 0 0 .25rem 0;
}

.tooltip {
  text-align: inherit;
}

.tooltip:before {
  max-width: 14rem;
  text-align: center;
  border-radius: var(--rounded-btn,1rem)
}

.tooltip:hover:before,
.tooltip:hover:after {
  z-index: 50
}

.tooltip-hidden:hover:before,
.tooltip-hidden:hover:after {
  opacity: 0
}

.collapse-title, .collapse>input[type=checkbox] {
  padding: 1rem 4rem 1rem 1rem;
}

.collapse-arrow .collapse-title:after {
  top: 1.6rem;
  right: 1.6rem;
}

@media (max-width: 900px) and (max-height: 900px) {
  .geo-background::before {
    width: 275px;
    height: 374px;
  }

  .geo-background::after {
    width: 275px;
    height: 374px;
  }
}

@media (max-width: 600px) and (max-height: 600px) {
  .geo-background::before {
    display: none;
  }

  .geo-background::after {
    display: none;
  }
}

@layer components {
  .btn-neutral {
    @apply btn btn-ghost bordered border-base-300 bg-base-100
  }

  .card-base {
    @apply card shadow-md p-5 bg-base-100 border border-base-300 overflow-visible
  }

  .grid-container {
    @apply grid gap-5 justify-center
  }

  .centered-container {
    @apply flex flex-col content-center justify-center items-center h-full
  }

  .dropdown-base {
    @apply mt-16 overflow-y-auto shadow-2xl top-px dropdown-content max-h-96 w-52 rounded-box bg-base-100 space-y-0.5
  }

  .divider-sm {
    @apply m-0
  }
}
